{% extends "base.html.twig" %}

{% block title %} About {{ parent() }}{% endblock %}
{% block main %}
    <a href="{{ path('home') }}">home</a>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam cum cupiditate dolorum eaque enim est eveniet impedit incidunt, inventore ipsum, laboriosam minima nihil non perferendis quos sit, sunt tempora vitae!
{% endblock %}